div
{
  border:1px dotted lightgrey;
}

.navi li
{
  display:inline-block;
  width:250px;
  /*border:1px dotted lightgrey;*/
  text-align:center;
}


a,
a:link,
a:visited,
a:active,
a:focus
{
  text-decoration:none;
  color:black;
  font-size:18px;
}

a:hover
{
  text-decoration:underline;
  color:green;
  font-size:20px;
}

.navi li:hover{
  background:black;
}

.navi li:hover a
{
  color:green;
}

.image-back
{
  background-image: url(../images/스타벅스.jpg);
  width:100%;
  height:1000px;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}

.image-title
{
  color:green;
  font-size:80px;
  font-weight:bold;
}

.title
{
  position:absolute;
  left:10%;
  top:30%;
}

.title2
{
  position:absolute;
  color:lightgreen;
  left:10%;
  top:40%;
}

.title3
{
  position:absolute;
  left:10%;
  top:50%;
  position:relative;
}

.click
{
  position:absolute;
  left:18%;
  top:70%
}